@import url("https://fonts.googleapis.com/css2?family=Borel&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-deep: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --transition: all 400ms ease;
  --container-width-sm: 90%;
  --font-family: "Encode Sans Expanded", sans-serif;
}
html {
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}
/* ::-webkit-scrollbar {
  display: none;
} */
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
.disable {
  cursor: not-allowed;
  background-color: var(--color-bg);
  color: white;
}
.loadindH1 {
  background-color: var(--color-primary);
  text-align: center;
  color: black;
  /* height: 100vh; */
}
